# ansible-playbook -i ~/ansible/hosts /playbooks/new-default.yml
# semaphore / cli argument example for vars_prompt
#   ex: ["-e","hostname='your_hostname' wifi_ssid='your_ssid' wifi_password='your_password'"] 
---
- hosts: defaultdevices
  gather_facts: yes
  remote_user: pi
  become: yes
  roles:
    - weareinteractive.environment
  vars:
    environment_config:
      TENSORFLOW_USER: "{{ tensorflow_user }}"
      TENSORFLOW_HOST: "{{ tensorflow_host }}"
      HOSTNAME: "{{ inventory_hostname }}"
    wifi_country: "US"
    locale: "en_US.UTF-8"
    keyboard: "pc104"
    keyboard_layout: "us"
    timezone: America/Los_Angeles
    locale_options:
      # Disable Default (GB) Locale
      - regexp: "^#?en_GB.UTF-8 UTF-8"
        line: "# en_GB.UTF-8 UTF-8"
      # Enable US Locale
      - regexp: "^#?en_US.UTF-8 UTF-8"
        line: "en_US.UTF-8 UTF-8"

  tasks:
    # Copy SSH public key from this computer
    - include_tasks: ../tasks/copy-ssh-id.yml
      tags: setup

    # Expand the filesystem
    - include_tasks: ../tasks/expand-filesystem.yml
      tags: setup

    # Update default user passwords
    - include_tasks: ../tasks/update-users.yml
      tags:
        - setup

    # Set Internationalization Options
    - include_tasks: ../tasks/internationalization.yml
      tags: setup

    # Set WiFi Options
    - include_tasks: ../tasks/wifi.yml
      tags: setup

    # setup mounts
    - include_tasks: ../tasks/mount-external-devices.yml
      tags: setup

    # Run apt-get update and apt-get upgrade 
    - include_tasks: ../tasks/update.yml
      tags: update

    # Set the hostname
    - include_tasks: ../tasks/hostname.yml
      tags: setup

    - include_tasks: ../tasks/tzdata.yml
      tags: system

    - include_tasks: ../tasks/dependencies.yml
      tags: update

    - include_tasks: ../tasks/install-audio-packages.yml
      tags: update
